.sec4{
    width: 100%;
    height: 700px;
     background-color: rgb(228, 228, 233); 
  
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}
 .sec4 .imga{
    height: 600px;
    width: 400px;
    border-radius: 0 250px 0 100px;
    margin-left: 40px;
  

} 
.sec4 p{
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    width: 300px;
    font-weight: 100;
    text-align: center;
  
   
}
.sec4 p span{
    font-size: 10px;
}


.sec4_a{
    width: 300px;
}


.sec4_a .imgb{
    border-radius: 100px 0 100px 0;
    width: 300px;
    height: 400px;


    
}
.sec4 .imgc{
    border-radius:  0  0 100px 100px;
   margin-top: 15px;
}